<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Stok Sayım Uygulaması</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Stok Listesi</h1>

    <input type="text" id="searchInput" placeholder="Ara...">
    <button onclick="searchTable()">Ara</button>
    <button onclick="openAddForm()">Stok Ekle</button>
    <input type="checkbox" id="depoToggle">
    <label for="depoToggle">Depodakilere Bak</label>

    <table border="1" id="stokTable">
        <tr>
            <th>İşlem</th>
            <th>OLIMPIA KOD</th>
            <th>STOK ADI</th>
            <th>MODEL</th>
            <th>ÖZELLİK</th>
            <th>TOPLAM ADET</th>
            <th>RENK: FİYAT</th>
            <th>ISKONTO</th>
        </tr>
        {% for stok in data %}
        <tr>
            <td id="operations">
                <button class="edit-btn" data-stok-id="{{ stok.OLIMPIA_KOD }}">Detay</button>
                <button class="add-purchase-btn" data-stok-id="{{ stok.OLIMPIA_KOD }}">Alım Ekle</button>
                <button class="add-sale-btn" data-stok-id="{{ stok.OLIMPIA_KOD }}">Satış Ekle</button>
            </td>
            <td>{{ stok.OLIMPIA_KOD }}</td>
            <td>{{ stok.STOK_ADI }}</td>
            <td>{{ stok.MODEL if stok.MODEL is not none else '' }}</td>
            <td>{{ stok.OZELLIK if stok.OZELLIK is not none else '' }}</td>
            <td>{{ stok.ADET if stok.ADET is not none else '' }}</td>
            <td>
                <div id="renkFiyatListesi">
                    {% if colors_data[stok.OLIMPIA_KOD] %}
                        {% for renk_fiyat in colors_data[stok.OLIMPIA_KOD] %}
                            <div class="renkFiyatItem" data-original-price="{{ renk_fiyat.split(':')[1] }}">
                                <span class="renk">{{ renk_fiyat.split(':')[0] }}</span>:
                                 <span class="fiyat">{{ '%.2f' | format(renk_fiyat.split(':')[1] | float) }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
            </td>
            <td>
                <input type="number" class="iskonto-input" min="0"  step="1" onkeypress="checkEnter(event)" placeholder="İndirim oranını girin. (%)">
            </td>
        </tr>
        {% endfor %}
    </table>

    <div id="editForm" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Stok Bilgi ve Düzenleme Formu</h2>
        <form id="editFormContent">
            <input type="hidden" id="stokId" name="stokId">
        </form>
        <button type="button" onclick="submitForm()">Kaydet</button>
        <div id="purchaseDetails" style="display: none;">
            <h3>Alımlar</h3>
            <ul id="purchaseList"></ul>
        </div>
    </div>
</div>


    <div id="addStockForm" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Stok Ekle </h2>
            <form id="addStockContent"></form>
        </div>
    </div>

    <div id="purchaseForm" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Alış Ekle</h2>
            <form id="purchaseFormContent">
                <input type="hidden" id="purchaseOlimpiaKod" name="OLIMPIA_KOD">

                <label for="purchaseDate">Tarih:</label>
                <input type="date" id="purchaseDate" name="ALIM_TARIHI"><br>

                <label for="purchaseAdet">Adet:</label>
                <input type="number" id="purchaseAdet" name="ADET"><br>

                <label for="purchaseFiyat">Fiyat:</label>
                <input type="number" step="10" id="purchaseFiyat" name="FIYAT">

                   <label style="margin-left:20px;" for="purchaseIskonto">İskonto:</label>
                <input type="number" id="purchaseIskonto" class="iskonto-input" min="0" step="1" onkeypress="calculateDiscount(event)" placeholder="İndirim oranını girin. (%)">
                <span id="discountedPrice" style="margin-left: 10px; font-weight: bold;"></span>

                <br>
                <label for="RENK">RENK</label>
                <select id="RENK" name="RENK"></select>

                <input type="text" id="newColor" placeholder="Yeni Renk Ekle">
                <button type="button" onclick="addNewColor()">Renk Ekle</button>
            </form>

            <button type="button" onclick="submitPurchaseForm()">Kaydet</button>
        </div>
    </div>

<div id="saleForm" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Satış Ekle</h2>
        <form id="saleFormContent">
            <input type="hidden" id="saleOlimpiaKod" name="OLIMPIA_KOD">

            <label for="saleDate">Tarih:</label>
            <input type="date" id="saleDate" name="SATIS_TARIHI"><br>

            <label for="saleAdet">Adet:</label>
            <input type="number" id="saleAdet" name="ADET"><br>

            <label for="saleFiyat">Fiyat:</label>
            <input type="number" id="saleFiyat" step="10" name="FIYAT">

            <label style="margin-left:20px;" for="saleIskonto">İskonto:</label>
            <input type="number" id="saleIskonto" class="iskonto-input" min="0" step="1" onkeypress="calculateSaleDiscount(event)" placeholder="İndirim oranını girin. (%)">
            <span id="saleDiscountedPrice" style="margin-left: 10px; font-weight: bold;"></span> <!-- Place to show discounted price -->

            <br>
            <label for="saleRenk">RENK</label>
            <select id="saleRenk" name="RENK"></select>

            <input type="text" id="newColorSale" placeholder="Yeni Renk Ekle">
            <button type="button" onclick="addNewColorSale()">Renk Ekle</button>
        </form>
        <button type="button" onclick="submitSaleForm()">Kaydet</button>
    </div>
</div>

    <script src="../static/script.js"></script>
</body>
</html>


