<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Stok Sayım Uygulaması</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <h1>Stok Listesi</h1>

    <input type="text" id="searchInput" placeholder="Ara...">
    <button onclick="searchTable()">Ara</button>

    <table border="1" id="stokTable">
        <tr>
            <th>İşlem</th>
            <th>OLIMPIA KOD</th>
            <th>STOK ADI</th>
            <th>ÜY</th>
            <th>KONUM</th>
            <th>MODEL</th>
            <th>ÖZELLİK</th>
            <th>DELİK</th>
            <th>MM</th>
            <th>EBAT</th>
            <th>RENK</th>
            <th>ISKONTO</th>
            <th>ALIŞ & SATIŞ</th>
        </tr>
        {% for stok in data %}
        <tr>
            <td><button class="edit-btn" data-stok-id="{{ stok.OLIMPIA_KOD }}">Düzenle</button></td>

            <td>{{ stok.OLIMPIA_KOD }}</td>
            <td>{{ stok.STOK_ADI }}</td>
            <td>{{ stok.UY if stok.UY is not none else '' }}</td>
            <td>{{ stok.KONUM if stok.KONUM is not none else '' }}</td>
            <td>{{ stok.MODEL if stok.MODEL is not none else '' }}</td>
            <td>{{ stok.OZELLIK if stok.OZELLIK is not none else '' }}</td>
            <td>{{ stok.DELIK if stok.DELIK is not none else '' }}</td>
            <td>{{ stok.MM if stok.MM is not none else '' }}</td>
            <td>{{ stok.M2 if stok.M2 is not none else '' }}</td>
            <td>{{ stok.RENK if stok.RENK is not none else '' }}</td>
            <td>{{ stok.ISKONTO if stok.ISKONTO is not none else '' }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>


    <div id="editForm" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Stok Bilgi ve Düzenleme Formu</h2>
            <form id="editFormContent">
            </form>
            <button type="button" onclick="submitForm()">Kaydet</button>
        </div>
    </div>
    <button onclick="openAddForm()">Stok Ekle</button>

    <script src="../static/script.js"></script>
</body>
</html>
